# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Secrets
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?
